@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

//Font
$poppins: 'Poppins', sans-serif;

//Colors
$backgroundGradient: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
$pink: #d33f8d;
$lightgrey: lightgrey;
$white: #fff;
$black: #000;
$blackTransparent: #262626;
$blue: royalblue;
$green: green;
